.Deck-cardarea {
    margin-top: 80px;
}

.Deck-heading {
    font-size: 40px;
}

.Deck-button {
    text-decoration: none;
    border: 2px solid azure;
    padding: 15px;
    color: azure;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 5px;
    background-color: black;
    margin-top: 15px;
}

.Deck-button:hover {
    background-color: #17181c;
    transform: scale(1.1);
    transition: all 1s;
}
